@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-family: 'Open Sans', sans-serif;
$font-size:16px;
$primary-color: #38a4ef;

body {
    font-size: $font-size;
    font-family: $font-family;
    width:100%;
    min-height:100vh;
    background-color:$primary-color;
    padding:0;
    margin:0;
    color:#fff;
    overflow:hidden;
    .main {
        width:60%;
        text-align:center;
        margin:10% auto;
        h1,h2 {
            margin:0;
            padding:0;
        }
        .card {
            background-color:#fff;
            padding:3rem;
            border-radius: 5px;
            width:200px;
            display:inline-block;
            margin:1rem;
            color:#333;
            box-shadow: 15px 15px 0px 0px rgba(0,0,0,.2);
            span {
                font-size: 2rem;
                display:block;
            }
        }
        textarea {
            display:block;
            width:calc(100% - 2rem);
            height:200px;
            border:0;
            margin:1rem 0;
            padding:1rem;
            font-size: $font-size;
            border-radius: 5px;
            &:focus {
                outline:none;
            }
        }
        .word-count, .character-count {
            font-weight: bold;
        }
    }
}